/* You can add global styles to this file, and also import other style files */
.bg{
    background: url('./assets/home.jpg') no-repeat center;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: .7;
  }


.red-text{
  color:red;
  opacity: .6;
}

.hover-cursor{
  cursor : pointer;
}
@import "~bootstrap/dist/css/bootstrap.css"
