
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="jumbotron">
        <h4 class="text-center">Todo List</h4>
      </div>
      <div class="input-group">
        <input type="text" placeholder= "Add Todo List" class="form-control" #todoTitle>
          &nbsp;
        <div class="input-group-addon hover-cursor " >
          <i class="fa fa-plus-circle fa-2x" (click)="addTodo(todoTitle.value)"></i>
        </div>
      </div>
      <br>
      <hr>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of todos">
              <span class="hover-cursor text-danger pull-right " (click)="deleteTodo(item.id)">
                <i class="fa fa-trash-o fa-lg" ></i>
              </span>
              <span class="pull-right"><i></i> </span>
              <span class="hover-cursor  pull-right " (click)="getTodo(item.id)">
                <i class="fa fa-eye fa-lg" ></i>
              </span>
              <span>{{item.name}}</span>
          </li>
        </ul>
    </div>
  </div>
</div>
