body {
   padding-top: 30px;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.bg-red{
  background-color: #b84d45
}
.wt-color{
  color: rgba(255,255,255,.5);
}
.wt-bg{
background-color: rgba(255,255,255,.5);
}
.site-heading {
    text-align: center;
    padding: 200px 0;
    color: #fff;
  }
.div{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    /* z-index:-1; /* Remove this line if it's not going to be a background! */ 
}
.caption span.border {

    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    opacity: .4;
}

.caption {

    text-align: center;
    color: #000;

}
